:root {
  --blue-color: #2196f3;
  --black-color: #212123;
  --gray-color: #757575;
  --white-color: #FFFFFF;
  --blue-background-color: #2196f3;
  --dark-background-color: #2F303A;
  --grey-background-color: #F5F4FA;
  --icon-color: #AFB1B8;
  
}
body{
  font-family: "Roboto", sans-serif;
  
}
a{
  text-decoration: none;
}
.mailto:hover{
  color: var(--blue-color);
}
.mailto:hover .hederemel{
  fill: var(--blue-color);
}
.tel:hover {
  fill: var(--blue-color);
}
.header,
.studio,
.mailto,
.Portfolioo {
  color: var(--gray-color);
  font-size: 14px; /* Розмір шрифту */
  font-weight: 500;
}

.Portfolio,
.content,
.studioo {
  color: var(--black-color);
  font-size: 14px; /* Розмір шрифту */
  font-weight: 500;
}


.tel {
  color: var(--gray-color);
  font-size: 14px; /* Розмір шрифту */
  font-weight: 500;
}

.efectin-solushns {
  background-image: url("../img/iiii.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color:var(--dark-background-color) ;
}
.footer {
  
  background-color:var(--dark-background-color) ;
}

.efectin-solushns h1 {
  color: var(--white-color);
  font-size: 44px; /* Розмір шрифту */
  line-height: 170%; /* Значення line-height в пікселях */
  font-weight: 900;
}

.button {
  background-color: var(--blue-background-color);
  color: var(--white-color);
  font-size: 16px; /* Розмір шрифту */
  line-height: 187%; /* Значення line-height в пікселях */
  font-weight: 700;
}
.zanaiytay,
.zagolovok {
  font-size: 36px; /* Розмір шрифту */
  line-height: 117.1%; /* Коефіцієнт 150% */
  font-weight: 700;
  
}



.sectis,
.zagolovok {
  font-size: 36px; /* Розмір шрифту */
  line-height: 117.1%; /* Коефіцієнт 150% */
  font-weight: 700;
}
.sectisfigure {
  box-shadow: 0px 7px 20px -4px #bab3b3;
  border-radius: 5px;
  overflow: hidden;
}

.futuresection,
.futureslu,
.futuresli,
.h3 {
  color: var(--black-color);
  font-size: 14px; /* Розмір шрифту */
  line-height: 117%; /* Значення line-height в пікселях */
  font-weight: 500;
}

 
.p {
  color: var(--gray-color);
  font-size: 16px; /* Розмір шрифту */
  line-height: 117%; /* Коефіцієнт 150% */
  font-weight: 400;
}
.sectis,
.h3 {
  color: var(--black-color);
  font-size: 14px; /* Розмір шрифту */
  line-height: 117%; /* Значення line-height в пікселях */
  font-weight: 500;
}

 
.p {
  color: var(--gray-color);
  font-size: 16px; /* Розмір шрифту */
  line-height: 117%; /* Коефіцієнт 150% */
  font-weight: 400;
} 

.address {
  color: var(--white-color);
  font-size: 14px; /* Розмір шрифту */
  font-weight: 500;
}

.emeil,
.tell {
  color: var(--gray-color);
  font-size: 14px; /* Розмір шрифту */
  font-weight: 500;
}
.contener  {
  width: 1200px;
  margin: auto;
  padding: 15px 0;
  box-sizing: border-box;
}
.header {
  padding: 24px 25px;

}
.efectin-solushns {
  padding: 200px 0;
}
.futuresection {
  margin: 94px 0;
}
.zanaiytay {
  margin-bottom: 94px;
}
.sectis {
  padding: 94px;
  background-color: #F5F4FA;
  ;
} 
.footer {
  padding: 60px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerlu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.logo {
  padding-right: 63px;
}
.headerli {
  padding-right: 50px;
}
#licontent {
  padding-right: 310px;
}
.headerlii {
  padding-right: 50px;
}
ul {
  list-style: none;
  padding: 0;
}
.efectin-solushns {
  text-align: center;
}
.button {
  width: 216px;
  height: 50px;
}
.futureslu {
  display: flex;
  justify-content: space-between;
}
.futureslu li {
width: 270px;
}
.zanaiytay {
  align-items: center;

}

.zanaiytayimg {
  width: 100%;
  height: 294px;
}
.zagolovok {
text-align: center;
}
.diiv {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.sectisimg {
  margin: 0;
  border: 1px solid whitesmoke;
}
.sectisfigcaption {
  margin-left: 24px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.itemli {
display: flex;
flex-wrap: wrap;
gap: 30px;
padding: 0;
list-style: none;
}
.buttin-hover {
  border: 0px;
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;  
}
.buttin-hover:hover {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.sect {
  min-width: 500px;

  margin: 0 auto;
} 
.flex-center {
  list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.itemli {
  flex-basis: calc((100% - 60px)/3);
}
.sectisfigure {
  border: 1px solid #EEEEEE;
}
.futuresli:nth-child(1):before {
  display: flex;
  background-color:  var(--grey-background-color);
  content: url("../img/antenna.png");
  justify-content: center;
  margin-bottom: 30px;
  padding: 25px;

}
.futuresli:nth-child(2):before {
  display: flex;
  background-color: var(--grey-background-color);
  content: url("../img/clock.png");
  justify-content: center;
  margin-bottom: 30px;
  padding: 25px;
}
.futuresli:nth-child(3):before {
  display: flex;
  background-color:  var(--grey-background-color);
  content: url("../img/diagram.png");
  justify-content: center;
  margin-bottom: 30px;
  padding: 25px;
}
.futuresli:nth-child(4):before {
  display: flex;
  background-color:  var(--grey-background-color);
  content: url("../img/astronaut.png");
  justify-content: center;
  margin-bottom: 30px;
  padding: 25px;
}
.figuralt .icon {
width: 20px;
height: 20px;
fill: var(--icon-color);
}
.figurlist{
  display: flex;
  justify-content: space-around;
}
.figuralt{
  height: 50px;
  padding: 15px;
  border-radius: 50%;
  display: inline-block;
}
.figuralt:hover{
  background-color: var(--blue-color);
}
.figuralt:hover .icon{
  fill: var(--white-color);
}
.mailto{
  display: flex;
  justify-content: space-around;
}
.hederemel{
  width: 20px;
height: 20px;
display: inline-block;
fill: var(--icon-color);
}
.tel{
  display: flex;
  justify-content: space-around;
}
.hedertel{
  width: 20px;
  height: 20px;
  display: inline-block;
  fill: var(--icon-color);
  
}
.dnnn{
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.posticon .iconi{
  width: 170px;
height: 90px;
fill: var(--icon-color);
border: solid;
border-color: var(--icon-color);
padding: 15px;
}
.posticon:hover .iconi{
  fill: var(--blue-color);
  border-color: var(--blue-color) ;
}
.postclin{
  display: flex;
  justify-content: space-around;
  
}
.posticon{
  height: 50px;
  padding: 55px;
  display: inline-block;
  
}
.section3{
  align-items: center;
  
}
.footerp{
  color: var(--white-color);
}
.footeralt .icon {
  width: 20px;
  height: 20px;
  fill: var(--white-color);
  }
.footerlist{
  display: flex;
  
}
.footeralt{
  height: 50px;
  padding: 15px;
  border-radius: 50%;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-color:var(--gray-colordark-background-color) ;
}
.footeralt:hover{
  background-color: var(--blue-color);
}
.footeralt:hover .icon{
  fill: var(--white-color);
}
.footerul {
  display: flex;
}
.footerlii{
  display: flex;
  justify-content: center;
}
.zanaa-wrap{
  position: relative;
  width: 370px;
}
.zanaitay-text{
  position: absolute;
  color: var(--white-color);
bottom: 8px;
left: 0;
background-color: #2f303abb;
font-size: 14px;
width: 100%;
text-align: center;
}
.divv{
  display: flex;
  justify-content: space-between;
}
/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.470, 0.000, 0.745, 0.715);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal{
transform: scale(0.8) translate(-60%, -60%);
}

.no-scroll {
  overflow: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 400px;
  min-height: 300px;
  padding: 15px;
  background-color: var(--white-color);
  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.470, 0.000, 0.745, 0.715);
  
  display: flex;
  flex-direction: column;
}
.modal-title{
  display: flex;
  justify-content: space-between;
}

.form-label{
font-size: 24px;
margin-top: 20px;
margin-bottom: 5px;
}

.form-input{
padding: 8px;
outline: none;
border: 1px solid #2a2a2a;
border-radius: 5px;
font-size: 16px;
}

.form-btn{
margin-top: 20px;
color: black;
border-color: black;
}

.form-input:not(:placeholder-shown):required:valid {
border-color: green;
}

.form-input:not(:placeholder-shown):required:invalid {
border-color: red;
}
.form-btn button{
  border: none;
  border-radius: 10px;
  text-decoration: none;
  color: var(--white-color);
  background: var(--blue-background-color);
  box-shadow: 0 5px 0 var(--blue-color);
}
.form-btn button :hover{
  background: var(--blue-background-color);
  box-shadow: none;
  position: relative;
  top: 5px;
}