:root {
  --blue-color: #2196f3;
  --black-color: #212123;
  --gray-color: #75757575;
  --white-color: #FFFFFF;
  --blue-background-color: #2196f3;
  --dark-background-color: #2F303A;
}
body{
  font-family: "Roboto", sans-serif;
  
}
.studio,
.mailto,
.Portfolioo {
  color: var(--blue-color);
  font-size: 14px; /* Розмір шрифту */
  font-weight: 500;
}

.Portfolio,
.content,
.studioo {
  color: var(--black-color);
  font-size: 14px; /* Розмір шрифту */
  font-weight: 500;
}


.tel {
  color: var(--gray-color);
  font-size: 14px; /* Розмір шрифту */
  font-weight: 500;
}

.efectin-solushns,
.footer {
  background-color: var(--dark-background-color);
}

.efectin-solushns h1 {
  color: var(--white-color);
  font-size: 44px; /* Розмір шрифту */
  line-height: 170%px; /* Значення line-height в пікселях */
  font-weight: 900;
}

.button {
  background-color: var(--blue-background-color);
  color: var(--white-color);
  font-size: 16px; /* Розмір шрифту */
  line-height: 187%px; /* Значення line-height в пікселях */
  font-weight: 700;
}


section,
.h2 {
  font-size: 36px; /* Розмір шрифту */
  line-height: 117,1%; /* Коефіцієнт 150% */
  font-weight: 700;
}


.h3 {
  color: var(--black-color);
  font-size: 16px; /* Розмір шрифту */
  line-height: 117%; /* Значення line-height в пікселях */
  font-weight: 500;
}

 
p {
  color: var(--gray-color);
  font-size: 16px; /* Розмір шрифту */
  line-height: 117%; /* Коефіцієнт 150% */
  font-weight: 400;
}

.address {
  color: var(--white-color);
  font-size: 14px; /* Розмір шрифту */
  font-weight: 500;
}

.emeil,
.tell {
  color: var(--gray-color);
  font-size: 14px; /* Розмір шрифту */
  font-weight: 500;
}
